<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New task</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
<h1>New task:</h1>
<form action="#" th:action="@{/task/create}" th:object="${tasks}" method="post">
    <p>Task name: <input type="text" class="form-control" th:field="*{name}"/></p>
    <p> Status:
        <select class="form-control" th:field="*{status}">
            <option value="ACTIVE">ACTIVE</option>
            <option value="CLOSED">CLOSED</option>
        </select>
    </p>
    <p>Priority:
        <select class="form-control" th:field="*{priority}">
            <option value="HIGH">HIGH</option>
            <option value="MEDIUM">MEDIUM</option>
            <option value="LOW">LOW</option>
        </select>
    </p>
       <p><textarea class="form-control" name="description" th:field="*{text}" placeholder="Description"></textarea></p>
    <input type="submit" class="btn btn-success" th:value="Create"/>
</form>
</div>
</body>
</html>