<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="jumbotron">
    <div class="container">
<h1>Login</h1>
<form action="#" th:action="@{/login}" th:object="${user}" method="post">

    <p>Email: <input type="email" class="form-control" th:field="*{username}"/></p>
    <p>Password: <input type="password"class="form-control" th:field="*{password}"/></p>
    <div class="checkbox">
        <label><input type="checkbox" name="remember"> Remember me</label>
        </div>
    <input type="submit" class="btn btn-success" th:value="Login"/>
</form>
        <br>
        <strong><a href="/registration"> Back to registration</a></strong>
      </div>
</div>
</body>
</html>`